<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>HotelManagementSystem</display-name>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAvailabilityServlet</display-name>
    <servlet-name>CheckAvailabilityServlet</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.CheckAvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAvailabilityServlet</servlet-name>
    <url-pattern>/CheckAvailabilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookRoom</display-name>
    <servlet-name>BookRoom</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.BookRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRoom</servlet-name>
    <url-pattern>/BookRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookedRoomServlet</display-name>
    <servlet-name>BookedRoomServlet</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.BookedRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookedRoomServlet</servlet-name>
    <url-pattern>/BookedRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingServlet</display-name>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckLogin</display-name>
    <filter-name>CheckLogin</filter-name>
    <filter-class>com.HotelManagementSystem.filters.CheckLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLogin</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CheckAdmin</display-name>
    <filter-name>CheckAdmin</filter-name>
    <filter-class>com.HotelManagementSystem.filters.CheckAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckAdmin</filter-name>
    <url-pattern>/AdminLogin</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRoomsServlet</display-name>
    <servlet-name>ViewRoomsServlet</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.ViewRoomsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRoomsServlet</servlet-name>
    <url-pattern>/ViewRoomsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRoomServlet</display-name>
    <servlet-name>EditRoomServlet</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.EditRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoomServlet</servlet-name>
    <url-pattern>/EditRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoomServlet</display-name>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.UpdateRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <url-pattern>/UpdateRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoomServlet</display-name>
    <servlet-name>AddRoomServlet</servlet-name>
    <servlet-class>com.HotelManagementSystem.service.AddRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoomServlet</servlet-name>
    <url-pattern>/AddRoomServlet</url-pattern>
  </servlet-mapping>
</web-app>